.iti-flag {
  &.ab {
    width: 16px;
    height: 11px;
    background-position: -160px -55px;
  }
  &.ad {
    width: 16px;
    height: 11px;
    background-position: -16px -144px;
  }
  &.ae {
    width: 16px;
    height: 11px;
    background-position: 0px -12px;
  }
  &.af {
    width: 16px;
    height: 11px;
    background-position: -16px -12px;
  }
  &.ag {
    width: 16px;
    height: 11px;
    background-position: -32px 0px;
  }
  &.ai {
    width: 16px;
    height: 11px;
    background-position: -32px -11px;
  }
  &.al {
    width: 16px;
    height: 11px;
    background-position: 0px -23px;
  }
  &.am {
    width: 16px;
    height: 11px;
    background-position: -16px -23px;
  }
  &.an {
    width: 16px;
    height: 11px;
    background-position: -32px -23px;
  }
  &.ao {
    width: 16px;
    height: 11px;
    background-position: 0px -34px;
  }
  &.aq {
    width: 16px;
    height: 11px;
    background-position: -16px -34px;
  }
  &.ar {
    width: 16px;
    height: 11px;
    background-position: -32px -34px;
  }
  &.as {
    width: 16px;
    height: 11px;
    background-position: -48px 0px;
  }
  &.at {
    width: 16px;
    height: 11px;
    background-position: -48px -11px;
  }
  &.au {
    width: 16px;
    height: 11px;
    background-position: -48px -22px;
  }
  &.aw {
    width: 16px;
    height: 11px;
    background-position: -48px -33px;
  }
  &.ax {
    width: 16px;
    height: 11px;
    background-position: 0px -45px;
  }
  &.az {
    width: 16px;
    height: 11px;
    background-position: -16px -45px;
  }
  &.ba {
    width: 16px;
    height: 11px;
    background-position: -32px -45px;
  }
  &.bb {
    width: 16px;
    height: 11px;
    background-position: -48px -45px;
  }
  &.bd {
    width: 16px;
    height: 11px;
    background-position: -64px 0px;
  }
  &.be {
    width: 16px;
    height: 11px;
    background-position: -64px -11px;
  }
  &.bf {
    width: 16px;
    height: 11px;
    background-position: -64px -22px;
  }
  &.bg {
    width: 16px;
    height: 11px;
    background-position: -64px -33px;
  }
  &.bh {
    width: 16px;
    height: 11px;
    background-position: -64px -44px;
  }
  &.bi {
    width: 16px;
    height: 11px;
    background-position: 0px -56px;
  }
  &.bj {
    width: 16px;
    height: 11px;
    background-position: -16px -56px;
  }
  &.bl {
    width: 16px;
    height: 11px;
    background-position: -32px -56px;
  }
  &.bm {
    width: 16px;
    height: 11px;
    background-position: -48px -56px;
  }
  &.bn {
    width: 16px;
    height: 11px;
    background-position: -64px -56px;
  }
  &.bo {
    width: 16px;
    height: 11px;
    background-position: 0px -67px;
  }
  &.bq {
    width: 16px;
    height: 11px;
    background-position: -16px -67px;
  }
  &.br {
    width: 16px;
    height: 11px;
    background-position: -32px -67px;
  }
  &.bs {
    width: 16px;
    height: 11px;
    background-position: -48px -67px;
  }
  &.bt {
    width: 16px;
    height: 11px;
    background-position: -64px -67px;
  }
  &.bv {
    width: 16px;
    height: 11px;
    background-position: -80px 0px;
  }
  &.bw {
    width: 16px;
    height: 11px;
    background-position: -80px -11px;
  }
  &.by {
    width: 16px;
    height: 11px;
    background-position: -80px -22px;
  }
  &.bz {
    width: 16px;
    height: 11px;
    background-position: -80px -33px;
  }
  &.ca {
    width: 16px;
    height: 11px;
    background-position: -80px -44px;
  }
  &.cc {
    width: 16px;
    height: 11px;
    background-position: -80px -55px;
  }
  &.cd {
    width: 16px;
    height: 11px;
    background-position: -80px -66px;
  }
  &.cf {
    width: 16px;
    height: 11px;
    background-position: 0px -78px;
  }
  &.cg {
    width: 16px;
    height: 11px;
    background-position: -16px -78px;
  }
  &.ch {
    width: 11px;
    height: 11px;
    background-position: -128px -199px;
  }
  &.ci {
    width: 16px;
    height: 11px;
    background-position: -48px -78px;
  }
  &.ck {
    width: 16px;
    height: 11px;
    background-position: -64px -78px;
  }
  &.cl {
    width: 16px;
    height: 11px;
    background-position: -80px -78px;
  }
  &.cm {
    width: 16px;
    height: 11px;
    background-position: -96px 0px;
  }
  &.cn {
    width: 16px;
    height: 11px;
    background-position: -96px -11px;
  }
  &.co {
    width: 16px;
    height: 11px;
    background-position: -96px -22px;
  }
  &.cr {
    width: 16px;
    height: 11px;
    background-position: -96px -33px;
  }
  &.cs {
    width: 16px;
    height: 11px;
    background-position: -96px -44px;
  }
  &.cu {
    width: 16px;
    height: 11px;
    background-position: -96px -55px;
  }
  &.cv {
    width: 16px;
    height: 11px;
    background-position: -96px -66px;
  }
  &.cw {
    width: 16px;
    height: 11px;
    background-position: -96px -77px;
  }
  &.cx {
    width: 16px;
    height: 11px;
    background-position: 0px -89px;
  }
  &.cy {
    width: 16px;
    height: 11px;
    background-position: -16px -89px;
  }
  &.cz {
    width: 16px;
    height: 11px;
    background-position: -32px -89px;
  }
  &.de {
    width: 16px;
    height: 11px;
    background-position: -48px -89px;
  }
  &.dj {
    width: 16px;
    height: 11px;
    background-position: -64px -89px;
  }
  &.dk {
    width: 16px;
    height: 11px;
    background-position: -80px -89px;
  }
  &.dm {
    width: 16px;
    height: 11px;
    background-position: -96px -89px;
  }
  &.do {
    width: 16px;
    height: 11px;
    background-position: 0px -100px;
  }
  &.dz {
    width: 16px;
    height: 11px;
    background-position: -16px -100px;
  }
  &.ec {
    width: 16px;
    height: 11px;
    background-position: -32px -100px;
  }
  &.ee {
    width: 16px;
    height: 11px;
    background-position: -48px -100px;
  }
  &.eg {
    width: 16px;
    height: 11px;
    background-position: -64px -100px;
  }
  &.eh {
    width: 16px;
    height: 11px;
    background-position: -80px -100px;
  }
  &.england {
    width: 16px;
    height: 11px;
    background-position: -96px -100px;
  }
  &.er {
    width: 16px;
    height: 11px;
    background-position: -112px 0px;
  }
  &.es {
    width: 16px;
    height: 11px;
    background-position: -112px -11px;
  }
  &.et {
    width: 16px;
    height: 11px;
    background-position: -112px -22px;
  }
  &.europeanunion {
    width: 16px;
    height: 11px;
    background-position: -112px -33px;
  }
  &.fam {
    width: 16px;
    height: 11px;
    background-position: -112px -44px;
  }
  &.fi {
    width: 16px;
    height: 11px;
    background-position: -112px -55px;
  }
  &.fj {
    width: 16px;
    height: 11px;
    background-position: -112px -66px;
  }
  &.fk {
    width: 16px;
    height: 11px;
    background-position: -112px -77px;
  }
  &.fm {
    width: 16px;
    height: 11px;
    background-position: -112px -88px;
  }
  &.fo {
    width: 16px;
    height: 11px;
    background-position: -112px -99px;
  }
  &.fr {
    width: 16px;
    height: 11px;
    background-position: 0px -111px;
  }
  &.ga {
    width: 16px;
    height: 11px;
    background-position: -16px -111px;
  }
  &.gb {
    width: 16px;
    height: 11px;
    background-position: -32px -111px;
  }
  &.gd {
    width: 16px;
    height: 11px;
    background-position: -48px -111px;
  }
  &.ge {
    width: 16px;
    height: 11px;
    background-position: -64px -111px;
  }
  &.gf {
    width: 16px;
    height: 11px;
    background-position: -80px -111px;
  }
  &.gg {
    width: 16px;
    height: 11px;
    background-position: -96px -111px;
  }
  &.gh {
    width: 16px;
    height: 11px;
    background-position: -112px -111px;
  }
  &.gi {
    width: 16px;
    height: 11px;
    background-position: -128px 0px;
  }
  &.gl {
    width: 16px;
    height: 11px;
    background-position: -128px -11px;
  }
  &.gm {
    width: 16px;
    height: 11px;
    background-position: -128px -22px;
  }
  &.gn {
    width: 16px;
    height: 11px;
    background-position: -128px -33px;
  }
  &.gp {
    width: 16px;
    height: 11px;
    background-position: -128px -44px;
  }
  &.gq {
    width: 16px;
    height: 11px;
    background-position: -128px -55px;
  }
  &.gr {
    width: 16px;
    height: 11px;
    background-position: -128px -66px;
  }
  &.gs {
    width: 16px;
    height: 11px;
    background-position: -128px -77px;
  }
  &.gt {
    width: 16px;
    height: 11px;
    background-position: -128px -88px;
  }
  &.gu {
    width: 16px;
    height: 11px;
    background-position: -128px -99px;
  }
  &.gw {
    width: 16px;
    height: 11px;
    background-position: -128px -110px;
  }
  &.gy {
    width: 16px;
    height: 11px;
    background-position: 0px -122px;
  }
  &.hk {
    width: 16px;
    height: 11px;
    background-position: -16px -122px;
  }
  &.hm {
    width: 16px;
    height: 11px;
    background-position: -32px -122px;
  }
  &.hn {
    width: 16px;
    height: 11px;
    background-position: -48px -122px;
  }
  &.hr {
    width: 16px;
    height: 11px;
    background-position: -64px -122px;
  }
  &.ht {
    width: 16px;
    height: 11px;
    background-position: -80px -122px;
  }
  &.hu {
    width: 16px;
    height: 11px;
    background-position: -96px -122px;
  }
  &.id {
    width: 16px;
    height: 11px;
    background-position: -112px -122px;
  }
  &.ie {
    width: 16px;
    height: 11px;
    background-position: -128px -122px;
  }
  &.il {
    width: 16px;
    height: 11px;
    background-position: 0px -133px;
  }
  &.im {
    width: 16px;
    height: 11px;
    background-position: -16px -133px;
  }
  &.in {
    width: 16px;
    height: 11px;
    background-position: -32px -133px;
  }
  &.io {
    width: 16px;
    height: 11px;
    background-position: -48px -133px;
  }
  &.iq {
    width: 16px;
    height: 11px;
    background-position: -64px -133px;
  }
  &.ir {
    width: 16px;
    height: 11px;
    background-position: -80px -133px;
  }
  &.is {
    width: 16px;
    height: 11px;
    background-position: -96px -133px;
  }
  &.it {
    width: 16px;
    height: 11px;
    background-position: -112px -133px;
  }
  &.je {
    width: 16px;
    height: 11px;
    background-position: -128px -133px;
  }
  &.jm {
    width: 16px;
    height: 11px;
    background-position: -144px 0px;
  }
  &.jo {
    width: 16px;
    height: 11px;
    background-position: -144px -11px;
  }
  &.jp {
    width: 16px;
    height: 11px;
    background-position: -144px -22px;
  }
  &.ke {
    width: 16px;
    height: 11px;
    background-position: -144px -33px;
  }
  &.kg {
    width: 16px;
    height: 11px;
    background-position: -144px -44px;
  }
  &.kh {
    width: 16px;
    height: 11px;
    background-position: -144px -55px;
  }
  &.ki {
    width: 16px;
    height: 11px;
    background-position: -144px -66px;
  }
  &.km {
    width: 16px;
    height: 11px;
    background-position: -144px -77px;
  }
  &.kn {
    width: 16px;
    height: 11px;
    background-position: -144px -88px;
  }
  &.kp {
    width: 16px;
    height: 11px;
    background-position: -144px -99px;
  }
  &.kr {
    width: 16px;
    height: 11px;
    background-position: -144px -110px;
  }
  &.kw {
    width: 16px;
    height: 11px;
    background-position: -144px -121px;
  }
  &.ky {
    width: 16px;
    height: 11px;
    background-position: -144px -132px;
  }
  &.kz {
    width: 16px;
    height: 11px;
    background-position: 0px -144px;
  }
  &.la {
    width: 16px;
    height: 11px;
    background-position: -16px 0px;
  }
  &.lb {
    width: 16px;
    height: 11px;
    background-position: -32px -144px;
  }
  &.lc {
    width: 16px;
    height: 11px;
    background-position: -48px -144px;
  }
  &.li {
    width: 16px;
    height: 11px;
    background-position: -64px -144px;
  }
  &.lk {
    width: 16px;
    height: 11px;
    background-position: -80px -144px;
  }
  &.lr {
    width: 16px;
    height: 11px;
    background-position: -96px -144px;
  }
  &.ls {
    width: 16px;
    height: 11px;
    background-position: -112px -144px;
  }
  &.lt {
    width: 16px;
    height: 11px;
    background-position: -128px -144px;
  }
  &.lu {
    width: 16px;
    height: 11px;
    background-position: -144px -144px;
  }
  &.lv {
    width: 16px;
    height: 11px;
    background-position: -160px 0px;
  }
  &.ly {
    width: 16px;
    height: 11px;
    background-position: -160px -11px;
  }
  &.ma {
    width: 16px;
    height: 11px;
    background-position: -160px -22px;
  }
  &.mc {
    width: 16px;
    height: 11px;
    background-position: -160px -33px;
  }
  &.md {
    width: 16px;
    height: 11px;
    background-position: -160px -44px;
  }
  &.me {
    width: 16px;
    height: 12px;
    background-position: 0px 0px;
  }
  &.mf {
    width: 16px;
    height: 11px;
    background-position: -160px -66px;
  }
  &.mg {
    width: 16px;
    height: 11px;
    background-position: -160px -77px;
  }
  &.mh {
    width: 16px;
    height: 11px;
    background-position: -160px -88px;
  }
  &.mk {
    width: 16px;
    height: 11px;
    background-position: -160px -99px;
  }
  &.ml {
    width: 16px;
    height: 11px;
    background-position: -160px -110px;
  }
  &.mm {
    width: 16px;
    height: 11px;
    background-position: -160px -121px;
  }
  &.mn {
    width: 16px;
    height: 11px;
    background-position: -160px -132px;
  }
  &.mo {
    width: 16px;
    height: 11px;
    background-position: -160px -143px;
  }
  &.mp {
    width: 16px;
    height: 11px;
    background-position: 0px -155px;
  }
  &.mq {
    width: 16px;
    height: 11px;
    background-position: -16px -155px;
  }
  &.mr {
    width: 16px;
    height: 11px;
    background-position: -32px -155px;
  }
  &.ms {
    width: 16px;
    height: 11px;
    background-position: -48px -155px;
  }
  &.mt {
    width: 16px;
    height: 11px;
    background-position: -64px -155px;
  }
  &.mu {
    width: 16px;
    height: 11px;
    background-position: -80px -155px;
  }
  &.mv {
    width: 16px;
    height: 11px;
    background-position: -96px -155px;
  }
  &.mw {
    width: 16px;
    height: 11px;
    background-position: -112px -155px;
  }
  &.mx {
    width: 16px;
    height: 11px;
    background-position: -128px -155px;
  }
  &.my {
    width: 16px;
    height: 11px;
    background-position: -144px -155px;
  }
  &.mz {
    width: 16px;
    height: 11px;
    background-position: -160px -155px;
  }
  &.na {
    width: 16px;
    height: 11px;
    background-position: -176px 0px;
  }
  &.nc {
    width: 16px;
    height: 11px;
    background-position: -176px -11px;
  }
  &.ne {
    width: 16px;
    height: 11px;
    background-position: -176px -22px;
  }
  &.nf {
    width: 16px;
    height: 11px;
    background-position: -176px -33px;
  }
  &.ng {
    width: 16px;
    height: 11px;
    background-position: -176px -44px;
  }
  &.ni {
    width: 16px;
    height: 11px;
    background-position: -176px -55px;
  }
  &.nl {
    width: 16px;
    height: 11px;
    background-position: -176px -66px;
  }
  &.no {
    width: 16px;
    height: 11px;
    background-position: -176px -77px;
  }
  &.northerncyprus {
    width: 16px;
    height: 11px;
    background-position: -176px -88px;
  }
  &.np {
    width: 9px;
    height: 11px;
    background-position: -139px -199px;
  }
  &.nr {
    width: 16px;
    height: 11px;
    background-position: -176px -110px;
  }
  &.nu {
    width: 16px;
    height: 11px;
    background-position: -176px -121px;
  }
  &.nz {
    width: 16px;
    height: 11px;
    background-position: -176px -132px;
  }
  &.om {
    width: 16px;
    height: 11px;
    background-position: -176px -143px;
  }
  &.pa {
    width: 16px;
    height: 11px;
    background-position: -176px -154px;
  }
  &.pe {
    width: 16px;
    height: 11px;
    background-position: 0px -166px;
  }
  &.pf {
    width: 16px;
    height: 11px;
    background-position: -16px -166px;
  }
  &.pg {
    width: 16px;
    height: 11px;
    background-position: -32px -166px;
  }
  &.ph {
    width: 16px;
    height: 11px;
    background-position: -48px -166px;
  }
  &.pk {
    width: 16px;
    height: 11px;
    background-position: -64px -166px;
  }
  &.pl {
    width: 16px;
    height: 11px;
    background-position: -80px -166px;
  }
  &.pm {
    width: 16px;
    height: 11px;
    background-position: -96px -166px;
  }
  &.pn {
    width: 16px;
    height: 11px;
    background-position: -112px -166px;
  }
  &.pr {
    width: 16px;
    height: 11px;
    background-position: -128px -166px;
  }
  &.ps {
    width: 16px;
    height: 11px;
    background-position: -144px -166px;
  }
  &.pt {
    width: 16px;
    height: 11px;
    background-position: -160px -166px;
  }
  &.pw {
    width: 16px;
    height: 11px;
    background-position: -176px -166px;
  }
  &.py {
    width: 16px;
    height: 11px;
    background-position: 0px -177px;
  }
  &.qa {
    width: 16px;
    height: 11px;
    background-position: -16px -177px;
  }
  &.re {
    width: 16px;
    height: 11px;
    background-position: -32px -177px;
  }
  &.ro {
    width: 16px;
    height: 11px;
    background-position: -48px -177px;
  }
  &.rs {
    width: 16px;
    height: 11px;
    background-position: -64px -177px;
  }
  &.ru {
    width: 16px;
    height: 11px;
    background-position: -80px -177px;
  }
  &.rw {
    width: 16px;
    height: 11px;
    background-position: -96px -177px;
  }
  &.sa {
    width: 16px;
    height: 11px;
    background-position: -112px -177px;
  }
  &.sb {
    width: 16px;
    height: 11px;
    background-position: -128px -177px;
  }
  &.sc {
    width: 16px;
    height: 11px;
    background-position: -144px -177px;
  }
  &.scotland {
    width: 16px;
    height: 11px;
    background-position: -160px -177px;
  }
  &.sd {
    width: 16px;
    height: 11px;
    background-position: -176px -177px;
  }
  &.se {
    width: 16px;
    height: 11px;
    background-position: -192px 0px;
  }
  &.sg {
    width: 16px;
    height: 11px;
    background-position: -192px -11px;
  }
  &.sh {
    width: 16px;
    height: 11px;
    background-position: -192px -22px;
  }
  &.si {
    width: 16px;
    height: 11px;
    background-position: -192px -33px;
  }
  &.sj {
    width: 16px;
    height: 11px;
    background-position: -192px -44px;
  }
  &.sk {
    width: 16px;
    height: 11px;
    background-position: -192px -55px;
  }
  &.sl {
    width: 16px;
    height: 11px;
    background-position: -192px -66px;
  }
  &.sm {
    width: 16px;
    height: 11px;
    background-position: -192px -77px;
  }
  &.sn {
    width: 16px;
    height: 11px;
    background-position: -192px -88px;
  }
  &.so {
    width: 16px;
    height: 11px;
    background-position: -192px -99px;
  }
  &.southossetia {
    width: 16px;
    height: 11px;
    background-position: -192px -110px;
  }
  &.sr {
    width: 16px;
    height: 11px;
    background-position: -192px -121px;
  }
  &.ss {
    width: 16px;
    height: 11px;
    background-position: -192px -132px;
  }
  &.st {
    width: 16px;
    height: 11px;
    background-position: -192px -143px;
  }
  &.sv {
    width: 16px;
    height: 11px;
    background-position: -192px -154px;
  }
  &.sx {
    width: 16px;
    height: 11px;
    background-position: -192px -165px;
  }
  &.sy {
    width: 16px;
    height: 11px;
    background-position: -192px -176px;
  }
  &.sz {
    width: 16px;
    height: 11px;
    background-position: 0px -188px;
  }
  &.tc {
    width: 16px;
    height: 11px;
    background-position: -16px -188px;
  }
  &.td {
    width: 16px;
    height: 11px;
    background-position: -32px -188px;
  }
  &.tf {
    width: 16px;
    height: 11px;
    background-position: -48px -188px;
  }
  &.tg {
    width: 16px;
    height: 11px;
    background-position: -64px -188px;
  }
  &.th {
    width: 16px;
    height: 11px;
    background-position: -80px -188px;
  }
  &.tj {
    width: 16px;
    height: 11px;
    background-position: -96px -188px;
  }
  &.tk {
    width: 16px;
    height: 11px;
    background-position: -112px -188px;
  }
  &.tl {
    width: 16px;
    height: 11px;
    background-position: -128px -188px;
  }
  &.tm {
    width: 16px;
    height: 11px;
    background-position: -144px -188px;
  }
  &.tn {
    width: 16px;
    height: 11px;
    background-position: -160px -188px;
  }
  &.to {
    width: 16px;
    height: 11px;
    background-position: -176px -188px;
  }
  &.tr {
    width: 16px;
    height: 11px;
    background-position: -192px -188px;
  }
  &.tt {
    width: 16px;
    height: 11px;
    background-position: -208px 0px;
  }
  &.tv {
    width: 16px;
    height: 11px;
    background-position: -208px -11px;
  }
  &.tw {
    width: 16px;
    height: 11px;
    background-position: -208px -22px;
  }
  &.tz {
    width: 16px;
    height: 11px;
    background-position: -208px -33px;
  }
  &.ua {
    width: 16px;
    height: 11px;
    background-position: -208px -44px;
  }
  &.ug {
    width: 16px;
    height: 11px;
    background-position: -208px -55px;
  }
  &.um {
    width: 16px;
    height: 11px;
    background-position: -208px -66px;
  }
  &.unitednations {
    width: 16px;
    height: 11px;
    background-position: -208px -77px;
  }
  &.us {
    width: 16px;
    height: 11px;
    background-position: -208px -88px;
  }
  &.uy {
    width: 16px;
    height: 11px;
    background-position: -208px -99px;
  }
  &.uz {
    width: 16px;
    height: 11px;
    background-position: -208px -110px;
  }
  &.va {
    width: 16px;
    height: 11px;
    background-position: -208px -121px;
  }
  &.vc {
    width: 16px;
    height: 11px;
    background-position: -208px -132px;
  }
  &.ve {
    width: 16px;
    height: 11px;
    background-position: -208px -143px;
  }
  &.vg {
    width: 16px;
    height: 11px;
    background-position: -208px -154px;
  }
  &.vi {
    width: 16px;
    height: 11px;
    background-position: -208px -165px;
  }
  &.vn {
    width: 16px;
    height: 11px;
    background-position: -208px -176px;
  }
  &.vu {
    width: 16px;
    height: 11px;
    background-position: -208px -187px;
  }
  &.wales {
    width: 16px;
    height: 11px;
    background-position: 0px -199px;
  }
  &.wf {
    width: 16px;
    height: 11px;
    background-position: -16px -199px;
  }
  &.ws {
    width: 16px;
    height: 11px;
    background-position: -32px -199px;
  }
  &.xk {
    width: 16px;
    height: 11px;
    background-position: -48px -199px;
  }
  &.ye {
    width: 16px;
    height: 11px;
    background-position: -64px -199px;
  }
  &.yt {
    width: 16px;
    height: 11px;
    background-position: -80px -199px;
  }
  &.za {
    width: 16px;
    height: 11px;
    background-position: -96px -199px;
  }
  &.zm {
    width: 16px;
    height: 11px;
    background-position: -176px -99px;
  }
  &.zw {
    width: 16px;
    height: 11px;
    background-position: -32px -78px;
  }
  &.zz {
    width: 16px;
    height: 11px;
    background-position: -112px -199px;
  }
}
